//colors
$orange: #f16718;
$lightOrange: #ff9b62;
$navy: #162542;
$lightNavy: #7b8bad;
$veryLightNavy: #e8eff2;
$white: #fff;


//fonts
$fw-heading: 900;
$fw-body: 500;

//mobile
// $fz-body: rem(16);
// $lh-body: 1.62;
// $fw-body: 500;
// $fz-heading-xl: rem(48);
// $fz-heading-l: rem(32);
// $lh-heading-l: 1.12;
// $fz-heading-s: rem(24);
// $lh-heading-s: 1.17;


$maxWidth-mobile: 327;
$maxWidth-tablet: 689;
$maxWidth-desktop: 1110;
